<div class="row">
    <div class="col-md-12">
        <select id="userList" onchange="getUserProjects(this)">
            <option value="0" selected>--</option>
        </select>
        <table id="projectList" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Project Id</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Time To Start</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Credits</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
</div>